# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# MacOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Streamlit
.streamlit/

# Data (OPTIONAL - choose based on size)
# data/